# ===== SPARK / HADOOP =====
outputs/
data/
*.parquet
*.delta
*.checkpoint
metastore_db/
spark-warehouse/
.spark-*

# ===== PYTHON =====
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
venv/

# ===== JUPYTER =====
.ipynb_checkpoints/

# ===== IDE =====
.vscode/
.idea/

# ===== LOGS =====
*.log

# ===== NODE =====
node_modules/
package-lock.json
package.json
Presntationclaude2.js
present.js
